= form_for @question do |f|
  =f.label :title
  =f.text_field :title
  =f.label :body
  =f.text_area :body
  p Add Files
  =f.fields_for :attachments do |attach|
    p = render partial: 'attachments/a_fields', locals: {f: attach}
  p = link_to_add_association 'Add file', f, :attachments, partial: 'attachments/a_fields'
  =f.submit 'Create'