.footer 
  h2 Sign up, it's free!
  p Whether you're a student, an educator, or a life-long learner, denk.mit can put you on the path to systematic lecture improvement. 
  =link_to 'Get Started', new_user_session_path 