// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.question {
	width: 800px;
	margin: 40px 0 10px;
	background:#EEE;
	border-radius: 20px; 
	padding:20px;
	position:relative;
}

.question:first-child {
	margin-top:10px;
}

.new_question {
 
}

.ask_link {
	font-size:100px;
	color:black;
	margin:40px;
}

.edit_question {
	display:none;
}