// Place all the styles related to the Votes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.voting-panel {
	display: inline-block;
	border-right: 1px solid #e7e8ec;
	padding-right:10px;
	

	p{
	display: inline-block; 
	margin: 0 10px;
	}
}

.votes img {
	vertical-align: middle;
	margin: 0 10px;
}